In [31]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split


#data=pd.read_csv("C:\\Users\\Utsav\\Desktop\\Mxene\\ML_exp", sep=',',header=0)

url = "https://raw.githubusercontent.com/UtsavMurarka/MXene-machine-learning/master/data_new.csv"

data=pd.read_csv(url, sep=',',header=0)
data

            f1   f2   f3        f4        f5  ...  f27   f28   f29  band gap  label
0     3.261006  0.0  0.0 -1.630503  2.824114  ...  6.0  35.0  35.0     0.000      0
1     3.128723  0.0  0.0 -1.564361  2.709553  ...  6.0  35.0   1.0     0.000      0
2     3.242942  0.0  0.0 -1.621471  2.808470  ...  6.0  17.0  35.0     0.000      0
3     3.175536  0.0  0.0 -1.587768  2.750095  ...  6.0  17.0  17.0     0.000      0
4     3.095383  0.0  0.0 -1.547692  2.680681  ...  6.0  17.0   1.0     0.000      0
...        ...  ...  ...       ...       ...  ...  ...   ...   ...       ...    ...
3074  3.336980  0.0  0.0 -1.668490  2.889910  ...  7.0   8.0  35.0     0.000      0
3075  3.307383  0.0  0.0 -1.653691  2.864278  ...  7.0   8.0  17.0     0.000      0
3076  3.313626  0.0  0.0 -1.656813  2.869684  ...  7.0   8.0   9.0     0.000      0
3077  3.259244  0.0  0.0 -1.629622  2.822588  ...  7.0   8.0   1.0     0.156      1
3078  3.284108  0.0  0.0 -1.642054  2.844121  ...  7.0   8.0   8.0     0.000      0

[3079 rows x 31 columns]

In [0]:
mxene=data.values
mxene=np.array(mxene)

In [0]:
#split the data

train, test = train_test_split(data, test_size=0.2)
train=np.array(train)
test=np.array(test)

In [34]:
NegativeCount=0
PositiveCount=0
for i in range(len(train)):
    if train[i][30]==0 :
        NegativeCount=NegativeCount+1
    if train[i][30]==1:
        PositiveCount=PositiveCount+1
print(NegativeCount)
print(PositiveCount)
print(PositiveCount+NegativeCount)

2146
317
2463

In [35]:
positives=np.zeros((PositiveCount,31))
negatives=np.zeros((NegativeCount,31))
    
j=0
k=0
    
for i in range(len(train)):

    if(train[i,30] == 1):
        positives[j,:] = train[i,:]
        j=j+1
    if(train[i,30] == 0):
        negatives[k,:] = train[i,:]
        k=k+1

print(np.shape(train))
print(np.shape(test))

(2463, 31)
(616, 31)

In [0]:
y_train=np.zeros(len(train))
y_test=np.zeros(len(test))

In [37]:
for i in range(len(test)):
    y_test[i]=test[i][30]
    test[i][30]=1

for i in range(len(train)):
    y_train[i]=train[i][30]
    train[i][30]=1

train = np.delete(train, 30, 1)
test = np.delete(test, 30, 1)

train = np.delete(train, 29, 1)
test = np.delete(test, 29, 1)

print(np.shape(train))
print(np.shape(test))


positives = sum(y_train)
negatives = len(y_train) - positives

print("test")
print("positives = %d \n negatives = %d" % (positives, negatives))

positives = sum(y_test)
negatives = len(y_test) - positives

print("train")
print("positives = %d \n negatives = %d" % (positives, negatives))

print(train)

(2463, 29)
(616, 29)
test
positives = 317
 negatives = 2146
train
positives = 76
 negatives = 540
[[3.145989e+00 1.000000e-16 0.000000e+00 ... 6.000000e+00 8.000000e+00
  1.700000e+01]
 [3.398861e+00 0.000000e+00 0.000000e+00 ... 7.000000e+00 9.000000e+00
  1.700000e+01]
 [3.316060e+00 0.000000e+00 0.000000e+00 ... 6.000000e+00 1.700000e+01
  3.500000e+01]
 ...
 [3.220975e+00 0.000000e+00 0.000000e+00 ... 6.000000e+00 1.700000e+01
  1.000000e+00]
 [3.392808e+00 0.000000e+00 0.000000e+00 ... 7.000000e+00 3.500000e+01
  3.500000e+01]
 [3.234884e+00 0.000000e+00 0.000000e+00 ... 7.000000e+00 8.000000e+00
  1.000000e+00]]

# **Principal Component Analysis**

In [0]:
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA

In [0]:
pca = PCA(n_components=10)

In [0]:
train_reduced = pca.fit_transform(train)

In [41]:
print(np.shape(train))
print(np.shape(train_reduced))

(2463, 29)
(2463, 10)

In [0]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
naiveBayes = gnb.fit(train, y_train)
y_pred = naiveBayes.predict(test)

In [43]:
print("Accuracy = " + str(100*accuracy_score(y_test, y_pred)) + "%")

Accuracy = 77.75974025974025%

In [0]:
test_reduced = pca.fit_transform(test)
gnb = GaussianNB()
naiveBayes = gnb.fit(train_reduced, y_train)
y_pred = naiveBayes.predict(test_reduced)

In [45]:
print("Accuracy = " + str(100*accuracy_score(y_test, y_pred)) + "%")

Accuracy = 87.5%

## **Neighborhood Component Analysis**

In [0]:
from sklearn.neighbors import NeighborhoodComponentsAnalysis

In [0]:
nca = NeighborhoodComponentsAnalysis(n_components=10)
train_reduced_nca = nca.fit_transform(train, y_train)

In [48]:
print(np.shape(train))
print(np.shape(train_reduced_nca))

(2463, 29)
(2463, 10)

In [0]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
naiveBayes = gnb.fit(train, y_train)
y_pred = naiveBayes.predict(test)

In [50]:
print("Accuracy = " + str(100*accuracy_score(y_test, y_pred)) + "%")

Accuracy = 77.75974025974025%

In [0]:
test_reduced_nca = nca.transform(test)
gnb = GaussianNB()
naiveBayes = gnb.fit(train_reduced_nca, y_train)
y_pred = naiveBayes.predict(test_reduced_nca)

In [52]:
print("Accuracy = " + str(100*accuracy_score(y_test, y_pred)) + "%")

Accuracy = 86.03896103896103%